<%= render :partial => '/spree/admin/shared/configuration_menu' %>

<h1><%= t("google_merchant_settings") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("google_merchant_title") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_title] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("google_merchant_description") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_description] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("production_domain") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:production_domain] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("default_category") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:default_category] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("google_merchant_taxonomy") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:category_taxonomy_id] ? Spree::Taxonomy.find(Spree::GoogleMerchant::Config[:category_taxonomy_id]).name : "N/A" %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_google_merchants_path, :id => 'admin_google_merchants_link' %></p>
